.about{
    width: 100%;
    height: 100%;
    background-color: rgb(2, 27, 19);
    overflow-x: hidden;
    .wrapper{
        height: 100%;
        max-width: 1400px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        position: relative;
        .imgContainer{
            flex: 1;
            height: 90%;
            img{
                object-fit: cover;
                width: fit-content;
                height: 100%;
            }
            z-index: 2;
        }
        .textContainer{
            flex: 1;
            .title{
                h2{
                    font-size: 50px;
                }
                p{
                    font-weight: 600;
                    font-size: 30px;
                }
            }
            .slidingText{
                position: absolute;
                bottom: 0;
                width: 50%;
                font-weight: bold;
                font-size: 50vh;
                white-space: noWrap;
                pointer-events: none;
                color: rgba(255, 255, 255, 0.05);
                z-index: 1;
            }   
        }
    }
}