.navbar{
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    .wrapper{
        max-width: 1336px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span{
            font-weight: bold;
        }
        .social{
            display: flex;
            gap: 1.5rem;
            img{
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}